@using HienlthOnline.Helpers
@model MyFinalProject.Entities.HangHoa

@{
    ViewData["Title"] = $"{Model.TenHh} - {Model.DonGia}";
    Layout = "~/Views/Shared/_FrontEnd.cshtml";
}

@section breadcrum{
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="/Product">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">@Model.TenHh</strong></div>
            </div>
        </div>
    </div>
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Hinh/HangHoa/@Model.Hinh" alt="@Model.TenHh" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">@Model.TenHh</h2>
                <p>@Model.MoTaDonVi</p>
                <p class="mb-4">@Model.MoTa</p>
                <p>
                    <strong class="text-primary h4">
                        @Model.DonGia.Value.ToVnd()
                    </strong>
                </p>

                <form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.MaHh">
                    <div class="mb-5">
                        <div class="input-group mb-3" style="max-width: 120px;">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                            </div>
                            <input type="text" class="form-control text-center" value="1" name="SoLuong" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                            </div>
                        </div>

                    </div>
                    <p><button class="buy-now btn btn-sm btn-primary">Add To Cart</button></p>
                </form>
            </div>
        </div>
    </div>
</div>